<!DOCTYPE html>
<html lang="en-us" ng-app="cilent">
    <head>
        <script src="src/angular.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--botstrap css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="src/css/main.css">
        <link rel="icon"  type="image/png" href="src/1.png">
        <title>Client Screen</title>
    </head>
    <!--add ng-cloak to body -->
    <body ng-controller="app">
        <div ng-bind="data" ng-show=showData()></div>
        <div id=topBar class="topBar">
            <div id=colomT1 class="colBar">QTY</div>
            <div id=colomT2 class="colBar">DESCRIPTION</div>
            <!-- need to add hide style on REG (ng-style)-->
            <div id=colomT3 class="colBar" ng-style="asSell()">REG</div>
            <div id=colomT4 class="colBar">PRICE</div>
            <div id=colomT5 class="colBar">TOTAL</div>
        </div id = table>
            <div ng-attr-id="{{'row' + $index}}" class="rows" ng-repeat="row in table track by $index">
                <div id="qty" cell class="qtyCol" ng-style="setColor(row.qty)" ng-cloak>{{row.qty}}</div>
                <div id="descrip" cell class="descriptCol" ng-cloak>{{row.descrip}}</div>
                <div id="regprice" cell class=".regCol" ng-cloak>{{row.regprice}}</div>
                <div id="price" cell class="priceCol" ng-cloak>{{row.price}}</div>
                <div id="total" cell class="totalCol" ng-cloak>{{row.total}}</div>
        </div>
        <div id=botBar class="botBar">
            <div id=colomB1 class="colBar" ng-cloak>Items: {{items}}</div>
            <div id=colomB2 class="colBar"></div>
            <div id=colomB3 class="colBar"></div>
            <div id=colomB4 class="colBar"></div>
            <div id=colomB5 class="colBarTotal" ng-cloak>Total: {{total}}</div>
        </div>
        <script type="text/javascript" src="src/index.js"></script>
    </body>
</html>