html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 30px 0;
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: auto;
    margin: 0 auto;
    width: 100%;
}

*{box-sizing: border-box}

.topBar {
  display:grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr  0.5fr ;  
  position: fixed;
  top: 0;
  left: 0;
  padding: auto 2px;
  text-align:center;
  color: #f1f1f1;
  width: 100%;
  background: #555;
}


.botBar {
    display:grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr  0.5fr ;  
    position: fixed;
    bottom: 0;
    left: 0;
    padding: auto 2px;
    text-align:center;
    color: #f1f1f1;
    width: 100%;
    background: #555;
}

.colBar {
    text-align: center;
    padding: 8px;
    font-size-adjust: auto;
}

.colBarTotal {
    text-align: right;
    padding: 8px;
    font-size-adjust: auto;
}

.rows {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr  0.5fr;
    text-align:left;
    margin: 0 0;
    overflow:hidden;
    font-size-adjust: auto;
    font-family: arial, sans-serif;
    width: 100%;
}
        .qtyCol {
            border: 1fr solid #dddddd;
            border-width: 100%;
            text-align: center;
            padding: 3fr;
        }

        .descriptCol {
            border: 1.5fr solid #dddddd;
            border-width: 100%;
            text-align: center;
            padding: 3fr;
        }

        .regCol {
            border: 1fr solid #dddddd;
            border-width: 100%;
            text-align: right;
            padding: 3fr;
        }

        .priceCol {
            border: 1fr solid #dddddd;
            border-width: 100%;
            text-align: right;
            padding: 3fr;
        }
        
        .totalCol{
            border: 1fr solid #dddddd;
            border-width: 100%;
            text-align: right;
            padding: 3fr;
        }

        .rows:nth-child(even) {
            background-color: #dddddd;
        }



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
